attrs==19.3.0
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
idna==2.10
importlib-metadata==1.7.0
Jinja2==2.11.2
lxml==4.5.2
MarkupSafe==1.1.1
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==5.4.3
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.9
-e git+https://dev.git.ub.uni-frankfurt.de/apachzelt/visual-library.git@d4f867bf4fb87537260b7adaa5bee49ad3c9e112#egg=VisualLibrary
-e git+https://dev.git.ub.uni-frankfurt.de/apachzelt/vl-to-ojs-exporter.git@ccef1eb1fb062200aefc6e5e76984d0a9c269e8c#egg=VlToOjsExporter
wcwidth==0.2.5
zipp==3.1.0
